# Qatal
## General Quantative Profile

In [1]:
from my_tools import *

In [2]:
qatal_df.head()

,ref,book,book_super,canon_part,text_full,text_plain,lex,lex_etcbc,gloss,verb_form,...,esv_TAMspan,niv,niv_tags,niv_VBtags,niv_tense,niv_aspect,niv_modality,niv_TAM,niv_TAMtag,niv_TAMspan
bhsa_node,,,,,,,,,,,,,,,,,,,,,
3,Genesis 1:1,Genesis,Genesis,Law,בָּרָ֣א,ברא,ברא,BR>[,create,qtl,...,created,created,VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,created
15,Genesis 1:2,Genesis,Genesis,Law,הָיְתָ֥ה,היתה,היה,HJH[,be,qtl,...,was,was,VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,was
47,Genesis 1:4,Genesis,Genesis,Law,טֹ֑וב,טוב,טוב,VWB[,be good,qtl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Genesis 1:5,Genesis,Genesis,Law,קָ֣רָא,קרא,קרא,QR>[,call,qtl,...,called,he called,PRP|VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,called
172,Genesis 1:10,Genesis,Genesis,Law,קָרָ֣א,קרא,קרא,QR>[,call,qtl,...,called,he called,PRP|VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,called

In [3]:
qatal_df.columns

Index(['ref', 'book', 'book_super', 'canon_part', 'text_full', 'text_plain',
       'lex', 'lex_etcbc', 'gloss', 'verb_form', 'stem', 'person', 'gender',
       'number', 'sentence', 'genre', 'domain', 'period', 'txt_type',
       'clause_type', 'clause_rela', 'adjacent_waw', 'mother_clause',
       'mother_type', 'valence', 'pre_lexes', 'lxx', 'lxx_tense', 'lxx_voice',
       'lxx_mood', 'lxx_person', 'lxx_number', 'lxx_tm', 'preceding_waw',
       'wordsb4waw', 'esv', 'esv_tags', 'esv_VBtags', 'esv_tense',
       'esv_aspect', 'esv_modality', 'esv_TAM', 'esv_TAMtag', 'esv_TAMspan',
       'niv', 'niv_tags', 'niv_VBtags', 'niv_tense', 'niv_aspect',
       'niv_modality', 'niv_TAM', 'niv_TAMtag', 'niv_TAMspan'],
      dtype='object')

In [5]:
show_text(qatal_df, spread=10, cols=['pre_lexes'])

## Quantity in context of all verbs

In [3]:
av_verb_ct = av_df.verb_form.value_counts()
av_verb_pr = av_verb_ct / av_verb_ct.sum()

In [4]:
av_verb_ct.sum()

56955

In [5]:
av_verb_ct

qtl     20728
yqtl    15854
wayq    14974
ptcp     5399
Name: verb_form, dtype: int64

In [6]:
av_verb_pr

qtl     0.363936
yqtl    0.278360
wayq    0.262909
ptcp    0.094794
Name: verb_form, dtype: float64

## Prefixed waw

In [7]:
qdf_waw_ct = qatal_df.adjacent_waw.value_counts() # qatal dataframe adjacent waw counts
qdf_waw_pr = prop_table(qdf_waw_ct) 

display(qdf_waw_ct)
print()
display(qdf_waw_pr)

False    14303
True      6425
Name: adjacent_waw, dtype: int64

False    0.690033
True     0.309967
Name: adjacent_waw, dtype: float64

## Prefixed waw based on various contexts

### genre

In [8]:
waw_genre = PivotProp(qatal_df, 'adjacent_waw', 'genre')
waw_genre_dp = my_stats.apply_deltaP(waw_genre.ct, 0, 1)

waw_genre.ct

genre         prose  prophetic  poetry  instruction  list
adjacent_waw
False          6615       3943    2832          528   385
True           2040       2343     264         1651   127

In [9]:
waw_genre.pr

genre           prose  prophetic    poetry  instruction      list
adjacent_waw
False         0.46249   0.275676  0.198000     0.036915  0.026917
True          0.31751   0.364669  0.041089     0.256965  0.019767

In [10]:
waw_genre_dp

genre            prose  prophetic    poetry  instruction      list
adjacent_waw
False         0.144981  -0.088993  0.156911     -0.22005  0.007151
True         -0.144981   0.088993 -0.156911      0.22005 -0.007151

In [11]:
av_df.genre.value_counts()

prose          27601
prophetic      13505
poetry          9604
instruction     5100
list            1145
Name: genre, dtype: int64

### domain type

See https://etcbc.github.io/bhsa/features/domain/

In [12]:
qatal_df.domain.value_counts()

Q    14540
N     4583
?     1052
D      553
Name: domain, dtype: int64

In [13]:
waw_domain = PivotProp(qatal_df, 'adjacent_waw', 'domain')

waw_domain.ct

domain           Q     N    ?    D
adjacent_waw
False         8937  4238  851  277
True          5603   345  201  276

In [14]:
waw_domain.pr

domain               Q         N         ?         D
adjacent_waw
False         0.624834  0.296301  0.059498  0.019367
True          0.872062  0.053696  0.031284  0.042957

In [23]:
(waw_domain.pr.loc[False].round(2) * 100)

domain
Q    62.0
N    30.0
?     6.0
D     2.0
dtype: float64

#### Qatal domains in context of all verbs

Both ve-qatal and Ø-qatal types appear to have a majority of direct quotation contexts; how does this stack up statistically against other verb types?

In [24]:
av_domain_ct = av_df.domain.value_counts()
av_domain_pr = prop_table(av_domain_ct)
av_domain_ct

Q    32006
N    21072
?     2038
D     1839
Name: domain, dtype: int64

In [25]:
av_domain_pr

Q    0.561952
N    0.369976
?    0.035783
D    0.032289
Name: domain, dtype: float64

In [26]:
av_domain = PivotProp(av_df, 'verb_form', 'domain')

sort_sums = av_domain.ct.sum(1).sort_values(ascending=False).index
av_domain.ct = av_domain.ct.loc[sort_sums]
av_domain.pr = av_domain.pr.loc[sort_sums]
av_domain_dp = my_stats.apply_deltaP(av_domain.ct, 0, 1)
av_domain_fs, _odds = my_stats.apply_fishers(av_domain.ct, 0, 1, logtransform=False, sign=False)

av_domain.ct

domain         Q      N     ?     D
verb_form
qtl        14540   4583  1052   553
yqtl       14100     59   565  1130
wayq           9  14961     3     1
ptcp        3357   1469   418   155

In [27]:
prop_table(av_domain.ct.T)

verb_form       qtl      yqtl      wayq      ptcp
domain
Q          0.454290  0.440542  0.000281  0.104887
N          0.217492  0.002800  0.709994  0.069713
?          0.516192  0.277233  0.001472  0.205103
D          0.300707  0.614464  0.000544  0.084285

In [28]:
av_domain.pr

domain            Q         N         ?         D
verb_form
qtl        0.701467  0.221102  0.050753  0.026679
yqtl       0.889365  0.003721  0.035638  0.071275
wayq       0.000601  0.999132  0.000200  0.000067
ptcp       0.621782  0.272087  0.077422  0.028709

In [29]:
av_domain_dp # ΔP significance test

domain            Q         N         ?         D
verb_form
qtl        0.219340 -0.234056  0.023535 -0.008819
yqtl       0.453707 -0.507531 -0.000201  0.054025
wayq      -0.761577  0.853566 -0.048274 -0.043715
ptcp       0.066095 -0.108140  0.046000 -0.003954

In [30]:
av_domain_fs # Fisher's significance test

                 Q             N              ?              D
qtl   0.000000e+00  0.000000e+00   4.247906e-46   6.771691e-09
yqtl  0.000000e+00  0.000000e+00   9.198338e-01  2.389450e-205
wayq  0.000000e+00  0.000000e+00  1.518749e-268  4.329544e-246
ptcp  8.628918e-21  2.206709e-57   4.932826e-53   1.240493e-01

## Preverbal Lexical collocations compared against other verb forms

NB that all lexical data is provided in ETCBC transcription:
https://annotation.github.io/text-fabric/writing/hebrew.html#gsc.tab=0

In [3]:
av_col_df.head()

,B,W,H,KJ,L,>CR,HNH,L>,MN,>P,...,<BD[,LHN,CLL=[,>JKKH,BWZ[,<WT[,CLC[,HJK,RC<[,CXV=[
verb_form,,,,,,,,,,,,,,,,,,,,,
qtl,744.0,10220,1326.0,1838.0,371.0,2974.0,182.0,1827.0,325.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ptcp,96.0,1328,1511.0,246.0,85.0,358.0,367.0,78.0,51.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yqtl,1144.0,6134,1540.0,1122.0,557.0,970.0,50.0,2746.0,503.0,51.0,...,1.0,2.0,1.0,4.0,1.0,1.0,1.0,2.0,1.0,1.0
wayq,0.0,14974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# apply Fisher's statistical significance test
# with logtransformation and addition of negative 
# sign if observed frequency goes below expected
# Fisher's is good for this analysis since it is
# bidirectional
# a value > 1.3 or < -1.3 is statistically significant

av_col_fs, _odds_ = my_stats.apply_fishers(av_col_df, 0, 1)
av_col_fs

,B,W,H,KJ,L,>CR,HNH,L>,MN,>P,...,<BD[,LHN,CLL=[,>JKKH,BWZ[,<WT[,CLC[,HJK,RC<[,CXV=[
qtl,0.119679,-207.63233,-22.119934,123.831899,-0.128867,inf,-3.244245,2.713350,-0.025036,-0.039686,...,0.00000,-0.273274,0.00000,-0.517176,0.00000,0.00000,0.00000,-0.273274,0.00000,0.00000
ptcp,-9.317000,-inf,inf,-0.901922,0.000000,-0.063157,235.635748,-91.662939,-2.400715,-0.152597,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000
yqtl,126.833429,-inf,5.915347,3.994289,51.978724,-43.362100,-42.665438,inf,53.891590,6.026432,...,0.49692,0.993853,0.49692,1.987762,0.49692,0.49692,0.49692,0.993853,0.49692,0.49692
wayq,-224.313388,inf,-inf,-inf,-113.454794,-inf,-66.611721,-inf,-98.348376,-9.584207,...,0.00000,0.000000,0.00000,-0.235944,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000

In [14]:
av_col_fs.loc['qtl'].sort_values(ascending=False).head(20)

>CR            inf
KH      127.358091
KJ      123.831899
K        42.228324
>T       36.933887
GM       18.710919
MDW<      9.881720
KN        4.020911
>LH       3.886858
L>        2.713350
>KN       2.482377
C         2.458896
ZW        2.182318
LWL>      2.133870
JCB[      2.025151
Z>T       1.880614
MRH[      1.720063
HN        1.676743
HJ>       1.627427
>ZJ       1.290031
Name: qtl, dtype: float64

In [6]:
av_col_fs.loc['yqtl'].sort_values(ascending=False).head(20)

>L=            inf
L>             inf
B       126.833429
>M      114.937922
LM<N     60.883023
PN       59.632713
MN       53.891590
L        51.978724
<L       29.147764
>L       27.860739
MWT[     27.161678
H=       22.534992
MJ       17.957431
<D       16.105898
>WLJ     14.883374
MH       13.776708
BL       12.976456
KN       10.810109
MTJ      10.442369
LMH       9.753989
Name: yqtl, dtype: float64

In [8]:
av_col_fs.loc['ptcp'].sort_values(ascending=False).head(20)

H               inf
HNH      235.635748
HJH[     117.793827
>NKJ      80.672615
>TM       52.405337
HM        45.297820
>NJ       34.075604
>TH       34.004658
HW>       28.805831
>NXNW     14.232464
HMH        8.496145
HJ>        5.874879
H=         3.885332
ZH         3.243329
>RB[       2.282421
CDP[       2.150594
>CR[       2.150594
>SP[       2.009405
NF>[       1.992513
HNH=       1.469383
Name: ptcp, dtype: float64

#### digging into examples

In [6]:
qatal_df.shape

(20728, 53)

In [44]:
test_df = qatal_df[qatal_df.pre_lexes.str.match('.*>CR', na=False)]

test_df

,ref,book,book_super,canon_part,text_full,text_plain,lex,lex_etcbc,gloss,verb_form,...,esv_TAMspan,niv,niv_tags,niv_VBtags,niv_tense,niv_aspect,niv_modality,niv_TAM,niv_TAMtag,niv_TAMspan
bhsa_node,,,,,,,,,,,,,,,,,,,,,
397,Genesis 1:21,Genesis,Genesis,Law,שָׁרְצ֨וּ,שׁרצו,שׁרץ,CRY[,swarm,qtl,...,NaN,teems,NNS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,Genesis 1:31,Genesis,Genesis,Law,עָשָׂ֔ה,עשׂה,עשׂה,<FH[,make,qtl,...,had made,he had made,PRP|VBD|VBN,VBD|VBN,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had made
694,Genesis 2:2,Genesis,Genesis,Law,עָשָׂ֑ה,עשׂה,עשׂה,<FH[,make,qtl,...,had done,he had been doing,PRP|VBD|VBN|VBG,VBD|VBN|VBG,past,PERF_PROG,IND,past.PERF_PROG.IND,PAST PERF PROG,had been doing
706,Genesis 2:2,Genesis,Genesis,Law,עָשָֽׂה,עשׂה,עשׂה,<FH[,make,qtl,...,had done,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,Genesis 2:3,Genesis,Genesis,Law,בָּרָ֥א,ברא,ברא,BR>[,create,qtl,...,had done,creating,VBG,VBG,PRES,NaN,NaN,PRES..,PRES PART,creating
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425843,2_Chronicles 35:18,2_Chronicles,Chronicles,Writings,עָשָׂ֣ה,עשׂה,עשׂה,<FH[,make,qtl,...,was,did,VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,did
425877,2_Chronicles 35:20,2_Chronicles,Chronicles,Writings,הֵכִ֤ין,הכין,כון,KWN[,be firm,qtl,...,had prepared,had set in order,VBD|VBN|IN|NN,VBD|VBN,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had set
426197,2_Chronicles 36:8,2_Chronicles,Chronicles,Writings,עָשָׂה֙,עשׂה,עשׂה,<FH[,make,qtl,...,did,he did,PRP|VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,did
426305,2_Chronicles 36:13,2_Chronicles,Chronicles,Writings,הִשְׁבִּיעֹ֖ו,השׁביעו,שׁבע,CB<[,swear,qtl,...,had made,had made take an oath,VBD|VBN|VB|DT|NN,VBD|VBN|VB,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had made
426345,2_Chronicles 36:14,2_Chronicles,Chronicles,Writings,הִקְדִּ֖ישׁ,הקדישׁ,קדשׁ,QDC[,be holy,qtl,...,had made,he had consecrated,PRP|VBD|VBN,VBD|VBN,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had consecrated

In [47]:
show_text(test_df, spread=10, cols=['niv', 'lxx'])

## §105.1 (a) 

> Corresponding to the perfect proper in Latin and the English perfect definite,
> in assertions, negations, confirmations, interrogations...