# §106. Formal Analysis of Qatal


Goals:

* identify basic contexts of Qatal
    * genre
    * domain
    * period
    * in-clause collocations
    * mother-clause collocations
    
* other possibilities
    * evenness of distribution: sequential distributions through books
    * book associations

In [1]:
from my_tools import *

/Users/cody/Library/Python/3.8/lib/python/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [2]:
qatal_df.head(2)

                   ref     book book_super canon_part  ...    niv_TAM niv_TAMtag niv_TAMspan  safe
bhsa_node                                              ...
3          Genesis 1:1  Genesis    Genesis        Law  ...  PAST..IND       PAST     created  True
15         Genesis 1:2  Genesis    Genesis        Law  ...  PAST..IND       PAST         was  True

[2 rows x 64 columns]

In [3]:
qatal_df.columns

Index(['ref', 'book', 'book_super', 'canon_part', 'text_full', 'text_plain',
       'lex', 'lex_etcbc', 'gloss', 'verb_form', 'stem', 'person', 'gender',
       'number', 'sentence', 'genre', 'domain', 'domain2', 'period',
       'txt_type', 'clause_type', 'clause_rela', 'mother_clause',
       'mother_type', 'mother_verbtype', 'mother_rela', 'mother_domain2',
       'daught_clause', 'daught_type', 'daught_verbtype', 'daught_rela',
       'daught_domain2', 'valence', 'prec_lexes', 'prec_pos', 'prec_part',
       'lxx', 'lxx_tense', 'lxx_voice', 'lxx_mood', 'lxx_person', 'lxx_number',
       'lxx_tm', 'esv', 'esv_tags', 'esv_VBtags', 'esv_verse', 'esv_tense',
       'esv_aspect', 'esv_modality', 'esv_TAM', 'esv_TAMtag', 'esv_TAMspan',
       'niv', 'niv_tags', 'niv_VBtags', 'niv_verse', 'niv_tense', 'niv_aspect',
       'niv_modality', 'niv_TAM', 'niv_TAMtag', 'niv_TAMspan', 'safe'],
      dtype='object')

# General Contexts

In [4]:
genre_ct = qatal_df.genre.value_counts()
genre_pr = prop_table(genre_ct)

In [5]:
genre_ct

prose          6579
prophetic      3933
poetry         2828
instruction     528
list            384
Name: genre, dtype: int64

In [6]:
genre_pr

prose          0.461619
prophetic      0.275961
poetry         0.198428
instruction    0.037047
list           0.026944
Name: genre, dtype: float64

# Compared with all verbs

## Counts and Proportions of all verbs

In [7]:
av_verb_ct = av_df.verb_form.value_counts()
av_verb_pr = av_verb_ct / av_verb_ct.sum()

In [8]:
av_verb_ct.sum()

56955

In [9]:
av_verb_ct

yqtl    15854
wayq    14974
qtl     14252
wqtl     6476
ptcp     5399
Name: verb_form, dtype: int64

In [10]:
av_verb_pr

yqtl    0.278360
wayq    0.262909
qtl     0.250233
wqtl    0.113704
ptcp    0.094794
Name: verb_form, dtype: float64

In [11]:
1 / av_verb_pr

yqtl     3.592469
wayq     3.803593
qtl      3.996281
wqtl     8.794781
ptcp    10.549176
Name: verb_form, dtype: float64

## Period (by domain type)

In [12]:
period_av = PivotProp(av_df[av_df.domain2.isin(['Q', 'N'])], 'verb_form', ['period', 'domain2'])

period_av.ct

period      EBH         LBH
domain2       Q     N     N    Q
verb_form
wayq        783  9763  1821  237
qtl        3177  2414   802  540
yqtl       5538    26    10  623
wqtl       3018   227    42  240
ptcp       1235   773   380  257

In [13]:
period_av.pr

period          EBH                 LBH
domain2           Q         N         N         Q
verb_form
wayq       0.062123  0.774595  0.144478  0.018804
qtl        0.458243  0.348190  0.115679  0.077888
yqtl       0.893658  0.004196  0.001614  0.100533
wqtl       0.855685  0.064361  0.011908  0.068046
ptcp       0.466919  0.292250  0.143667  0.097164

In [14]:
period_av.pr2

verb_form           wayq       qtl      yqtl      wqtl      ptcp
period domain2
EBH    Q        0.056941  0.231038  0.402734  0.219475  0.089812
       N        0.739453  0.182837  0.001969  0.017193  0.058547
LBH    N        0.596072  0.262520  0.003273  0.013748  0.124386
       Q        0.124934  0.284660  0.328413  0.126516  0.135477

In [15]:
period_av.pr2.loc[('LBH', 'N')] - period_av.pr2.loc[('EBH', 'N')]

verb_form
wayq   -0.143381
qtl     0.079683
yqtl    0.001304
wqtl   -0.003445
ptcp    0.065839
dtype: float64

Note the increase in qtl in LBH due to decrease in wqtl's representative share.

In [16]:
1 / period_av.pr2

verb_form            wayq       qtl        yqtl       wqtl       ptcp
period domain2
EBH    Q        17.561941  4.328297    2.483026   4.556329  11.134413
       N         1.352351  5.469345  507.807692  58.162996  17.080207
LBH    N         1.677650  3.809227  305.500000  72.738095   8.039474
       Q         8.004219  3.512963    3.044944   7.904167   7.381323

## Domain

In [17]:
domain_av = PivotProp(av_df[av_df.domain2.isin(['Q', 'N'])], 'verb_form', 'domain2')

domain_av.ct

domain2        Q      N
verb_form
wayq        2206  12765
yqtl       14461     41
qtl         9667   3533
wqtl        5722    303
ptcp        3540   1307

In [18]:
domain_av.pr

domain2           Q         N
verb_form
wayq       0.147352  0.852648
yqtl       0.997173  0.002827
qtl        0.732348  0.267652
wqtl       0.949710  0.050290
ptcp       0.730349  0.269651

In [19]:
domain_av.pr2

verb_form      wayq      yqtl       qtl      wqtl      ptcp
domain2
Q          0.061973  0.406254  0.271575  0.160748  0.099449
N          0.711182  0.002284  0.196835  0.016881  0.072817

In [20]:
domain_av.pr2.loc['Q'] - domain_av.pr2.loc['N']

verb_form
wayq   -0.649208
yqtl    0.403969
qtl     0.074740
wqtl    0.143867
ptcp    0.026632
dtype: float64

In [21]:
# get 1-in-n 

1 / domain_av.pr2

verb_form       wayq        yqtl       qtl       wqtl       ptcp
domain2
Q          16.135993    2.461517  3.682218   6.220902  10.055367
N           1.406110  437.780488  5.080385  59.237624  13.732976

In [22]:
# odds
# read 1-to-N

(1 / domain_av.pr2) - 1

verb_form       wayq        yqtl       qtl       wqtl       ptcp
domain2
Q          15.135993    1.461517  2.682218   5.220902   9.055367
N           0.406110  436.780488  4.080385  58.237624  12.732976

#### Experiment with groupwise odds (i.e. odds ratio)

see "groupwise odds" in https://en.wikipedia.org/wiki/Odds_ratio

In [23]:
from fractions import Fraction

In [24]:
# groupwise odds

group_odds = domain_av.pr2.div(1-domain_av.pr2)

group_odds = (group_odds.loc['Q'] / group_odds.loc['N'])

group_odds

verb_form
wayq      0.026831
yqtl    298.854158
qtl       1.521273
wqtl     11.154706
ptcp      1.406125
dtype: float64

In [25]:
group_odds.apply(lambda v: str(Fraction(v).limit_denominator(1)))

verb_form
wayq      0
yqtl    299
qtl       2
wqtl     11
ptcp      1
dtype: object

## Genre

In [26]:
genre_av = PivotProp(av_df, ['verb_form'], ['genre'])

genre_av.ct

genre      prose  prophetic  poetry  instruction  list
verb_form
yqtl        4470       4398    4765         2156    65
wayq       12162       1327     696          341   448
qtl         6579       3933    2828          528   384
wqtl        2076       2353     268         1651   128
ptcp        2314       1494    1047          424   120

In [27]:
genre_av.pr

genre         prose  prophetic    poetry  instruction      list
verb_form
yqtl       0.281948   0.277406  0.300555     0.135991  0.004100
wayq       0.812208   0.088620  0.046481     0.022773  0.029919
qtl        0.461619   0.275961  0.198428     0.037047  0.026944
wqtl       0.320568   0.363342  0.041384     0.254941  0.019765
ptcp       0.428598   0.276718  0.193925     0.078533  0.022226

In [28]:
genre_av.pr2

verb_form        yqtl      wayq       qtl      wqtl      ptcp
genre
prose        0.161951  0.440636  0.238361  0.075215  0.083838
prophetic    0.325657  0.098260  0.291225  0.174232  0.110626
poetry       0.496147  0.072470  0.294461  0.027905  0.109017
instruction  0.422745  0.066863  0.103529  0.323725  0.083137
list         0.056769  0.391266  0.335371  0.111790  0.104803

In [29]:
dp_gen = my_stats.apply_deltaP(genre_av.ct.T, 0, 1)

dp_gen

verb_form        yqtl      wayq       qtl      wqtl      ptcp
genre
prose       -0.225867  0.344840 -0.023034 -0.074680 -0.021259
prophetic    0.061998 -0.215825  0.053734  0.079341  0.020752
poetry       0.261960 -0.229066  0.053199 -0.103201  0.017108
instruction  0.158585 -0.215328 -0.161132  0.230678 -0.012803
list        -0.226138  0.130990  0.086885 -0.001953  0.010215

In [30]:
dp_verb_gen = my_stats.apply_deltaP(genre_av.ct, 0, 1)

dp_verb_gen

genre         prose  prophetic    poetry  instruction      list
verb_form
yqtl      -0.280837   0.055830  0.182821     0.064362 -0.022177
wayq       0.444446  -0.201463 -0.165711    -0.090588  0.013316
qtl       -0.030664   0.051808  0.039751    -0.070018  0.009123
wqtl      -0.185088   0.142418 -0.143565     0.186616 -0.000382
ptcp      -0.061878   0.043748  0.027950    -0.012164  0.002345

In [31]:
verb_gen_fish, _odds_ = my_stats.apply_fishers(genre_av.ct, 0, 1)

verb_gen_fish

           prose   prophetic      poetry  instruction       list
yqtl        -inf   43.107628         inf   118.693597 -83.019596
wayq         inf        -inf        -inf  -307.234558  20.961649
qtl    -9.639144   34.811004   26.516222  -166.115420  10.102888
wqtl -176.382449  129.840838 -242.094007          inf  -0.051686
ptcp  -17.349621   11.807112    6.520838    -2.578143   0.617751

In [32]:
_odds_

         prose  prophetic    poetry  instruction      list
yqtl  0.305047   1.348700  3.220080     2.039990  0.152554
wayq  7.435397   0.237968  0.180982     0.182266  1.826758
qtl   0.884301   1.319223  1.312529     0.320867  1.526096
wqtl  0.461264   2.012550  0.190247     4.665858  0.980672
ptcp  0.779210   1.259627  1.208912     0.854448  1.120634

## Book

In [33]:
av_book = PivotProp(av_df, 'verb_form', 'book')

av_book.ct

book       Psalms  Genesis  Jeremiah  Isaiah  Ezekiel  ...  Habakkuk  Zephaniah  Nahum  Haggai  Obadiah
verb_form                                              ...
yqtl         2074      684      1115    1535      869  ...        81         54     36      14       23
wayq          333     2106       484     244      513  ...        15          2      4      16        0
qtl          1381      894      1403    1050      876  ...        38         39     40      24       19
wqtl           78      216       573     501      834  ...         6         25     17      14       15
ptcp          443      253       464     421      307  ...        19         23     26       6        4

[5 rows x 39 columns]

In [34]:
av_book.pr2

verb_form          yqtl      wayq       qtl      wqtl      ptcp
book
Psalms         0.481318  0.077280  0.320492  0.018102  0.102808
Genesis        0.164700  0.507103  0.215266  0.052011  0.060920
Jeremiah       0.276058  0.119832  0.347363  0.141867  0.114880
Isaiah         0.409224  0.065049  0.279925  0.133564  0.112237
Ezekiel        0.255663  0.150927  0.257723  0.245366  0.090321
Exodus         0.274924  0.298087  0.171198  0.193018  0.062773
1_Samuel       0.161925  0.462943  0.219178  0.074464  0.081489
Deuteronomy    0.372313  0.092532  0.197450  0.231330  0.106375
Numbers        0.271856  0.299401  0.170858  0.168862  0.089022
2_Kings        0.118672  0.492507  0.262049  0.046578  0.080194
1_Kings        0.146748  0.422764  0.265854  0.076829  0.087805
2_Chronicles   0.108646  0.444998  0.286102  0.046175  0.114079
2_Samuel       0.167953  0.478438  0.232410  0.051294  0.069905
Job            0.563129  0.118939  0.238792  0.028362  0.050778
Leviticus      0.415814  0.087907  0.090698  0.334419  0.071163
Judges         0.125777  0.544715  0.213773  0.047824  0.067910
Joshua         0.130174  0.395194  0.293057  0.122163  0.059413
Proverbs       0.583090  0.023324  0.144315  0.035714  0.213557
1_Chronicles   0.096407  0.411043  0.339176  0.037686  0.115688
Nehemiah       0.145780  0.337596  0.294118  0.031969  0.190537
Zechariah      0.258915  0.178295  0.193798  0.226357  0.142636
Hosea          0.451557  0.076125  0.280277  0.122837  0.069204
Ecclesiastes   0.431373  0.005882  0.303922  0.098039  0.160784
Daniel         0.279503  0.202899  0.202899  0.192547  0.122153
Esther         0.152361  0.341202  0.315451  0.038627  0.152361
Amos           0.324455  0.070218  0.222760  0.237288  0.145278
Lamentations   0.206633  0.073980  0.655612  0.010204  0.053571
Ruth           0.237500  0.431250  0.225000  0.071875  0.034375
Micah          0.485050  0.023256  0.189369  0.189369  0.112957
Ezra           0.103896  0.372294  0.316017  0.051948  0.155844
Song_of_songs  0.316742  0.009050  0.461538  0.018100  0.194570
Malachi        0.208955  0.039801  0.363184  0.223881  0.164179
Joel           0.335165  0.038462  0.395604  0.159341  0.071429
Jonah          0.164634  0.512195  0.219512  0.012195  0.091463
Habakkuk       0.509434  0.094340  0.238994  0.037736  0.119497
Zephaniah      0.377622  0.013986  0.272727  0.174825  0.160839
Nahum          0.292683  0.032520  0.325203  0.138211  0.211382
Haggai         0.189189  0.216216  0.324324  0.189189  0.081081
Obadiah        0.377049  0.000000  0.311475  0.245902  0.065574

In [35]:
av_book.pr2['qtl'].sort_values(ascending=False).head()

book
Lamentations     0.655612
Song_of_songs    0.461538
Joel             0.395604
Malachi          0.363184
Jeremiah         0.347363
Name: qtl, dtype: float64

In [36]:
av_book_fish, avb_odds = my_stats.apply_fishers(av_book.ct, 0, 1)

av_book_fish

          Psalms     Genesis    Jeremiah      Isaiah  ...  Zephaniah      Nahum    Haggai   Obadiah
yqtl  190.081908  -70.239758   -0.128962   70.559602  ...   1.946494   0.117719 -1.034885  1.056526
wayq -225.478914  266.821543 -117.046953 -226.878522  ... -15.671139 -10.766129 -0.368193 -7.923466
qtl    26.463865   -7.353272   45.634250    4.751913  ...   0.250391   1.218321  0.850171  0.523252
wqtl -133.707109  -45.412223    7.831925    3.993695  ...   1.476667   0.406378  1.199283  2.452864
ptcp    1.181568  -15.502838    4.978908    3.655044  ...   1.857447   4.088012 -0.074004 -0.180991

[5 rows x 39 columns]

This is a lot of values. We want to see if any particular book is especially associated with qatal. I expect, ft. Qohelet may be so.
I'll use the Fisher's test for this.

In [37]:
av_book_fish, avb_odds = my_stats.apply_fishers(av_book.ct, 0, 1)

av_book_fish

          Psalms     Genesis    Jeremiah      Isaiah  ...  Zephaniah      Nahum    Haggai   Obadiah
yqtl  190.081908  -70.239758   -0.128962   70.559602  ...   1.946494   0.117719 -1.034885  1.056526
wayq -225.478914  266.821543 -117.046953 -226.878522  ... -15.671139 -10.766129 -0.368193 -7.923466
qtl    26.463865   -7.353272   45.634250    4.751913  ...   0.250391   1.218321  0.850171  0.523252
wqtl -133.707109  -45.412223    7.831925    3.993695  ...   1.476667   0.406378  1.199283  2.452864
ptcp    1.181568  -15.502838    4.978908    3.655044  ...   1.857447   4.088012 -0.074004 -0.180991

[5 rows x 39 columns]

Look for strong responses with qtl.

In [38]:
avb_fish_qtl = av_book_fish.loc['qtl'].sort_values(ascending=False)

avb_fish_qtl.head(15)

Lamentations     63.696247
Jeremiah         45.634250
Psalms           26.463865
1_Chronicles     10.950552
Song_of_songs    10.870597
Joel              4.813655
Isaiah            4.751913
2_Chronicles      4.035596
Joshua            3.859904
Malachi           3.381380
Esther            2.823522
Nehemiah          2.275063
Ecclesiastes      2.192389
Ezra              1.648420
Nahum             1.218321
Name: qtl, dtype: float64

Fisher's test appears to miss cases like Ecclesiastes, which have a high share of qtl compared to qtl's usual share elsewhere. 

Let's use a unidirectional test, deltaP, instead. We'll use the books as the cue and verbform as the conditional response.

In [39]:
av_book_dp = my_stats.apply_deltaP(av_book.ct.T, 0, 1)

av_book_dp.head()

verb_form      yqtl      wayq       qtl      wqtl      ptcp
book
Psalms     0.219570 -0.200823  0.076010 -0.103427  0.008670
Genesis   -0.122600  0.263400 -0.037717 -0.066546 -0.036539
Jeremiah  -0.002477 -0.153999  0.104544  0.030313  0.021619
Isaiah     0.140090 -0.211810  0.031786  0.021261  0.018672
Ezekiel   -0.024137 -0.119090  0.007966  0.140019 -0.004757

Look for strong cases with qtl.

In [40]:
av_book_dp['qtl'].sort_values(ascending=False).head(10)

book
Lamentations     0.408189
Song_of_songs    0.212129
Joel             0.145838
Malachi          0.113351
Jeremiah         0.104544
1_Chronicles     0.090762
Psalms           0.076010
Nahum            0.075133
Haggai           0.074188
Ezra             0.066053
Name: qtl, dtype: float64

Ecclesiastes still doesn't show!

In [41]:
av_book_qtl = av_book.ct[avb_fish_qtl[avb_fish_qtl > 10].index].T

avb_qtl_pr = prop_table(av_book_qtl)

av_book_qtl

verb_form      yqtl  wayq   qtl  wqtl  ptcp
book
Lamentations     81    29   257     4    21
Jeremiah       1115   484  1403   573   464
Psalms         2074   333  1381    78   443
1_Chronicles    110   469   387    43   132
Song_of_songs    70     2   102     4    43

In [42]:
avb_qtl_pr

verb_form          yqtl      wayq       qtl      wqtl      ptcp
book
Lamentations   0.206633  0.073980  0.655612  0.010204  0.053571
Jeremiah       0.276058  0.119832  0.347363  0.141867  0.114880
Psalms         0.481318  0.077280  0.320492  0.018102  0.102808
1_Chronicles   0.096407  0.411043  0.339176  0.037686  0.115688
Song_of_songs  0.316742  0.009050  0.461538  0.018100  0.194570

## Mother Clause Types

NB: when the following restrictions apply:

1. mother clause is headed by indicative verb
2. mother clause is within the same domain
3. this clause is a main clause, not subordinate or adverbial
4. clause domain is Q or N, not D or ?

In [43]:
av_df.columns

Index(['ref', 'book', 'book_super', 'canon_part', 'text_full', 'text_plain',
       'lex', 'lex_etcbc', 'gloss', 'verb_form', 'stem', 'person', 'gender',
       'number', 'sentence', 'genre', 'domain', 'domain2', 'period',
       'txt_type', 'clause_type', 'clause_rela', 'mother_clause',
       'mother_type', 'mother_verbtype', 'mother_rela', 'mother_domain2',
       'daught_clause', 'daught_type', 'daught_verbtype', 'daught_rela',
       'daught_domain2', 'valence', 'prec_lexes', 'prec_pos', 'prec_part'],
      dtype='object')

In [44]:
mo_vtypes = ['qtl', 'wqtl', 'yqtl', 'ptcp', 'wayq']
mother_df = av_df[
    (av_df.mother_verbtype.isin(mo_vtypes)) # restrict to indicative verbs
    & ((av_df.mother_domain2) == (av_df.domain2)) # agreement in domain
    & (av_df.clause_rela == 'Main') # retrict to main clauses
    & (av_df.domain2.isin(['Q', 'N']))
]
av_mother = PivotProp(mother_df, ['verb_form', 'domain2'], 'mother_verbtype')

av_mother.ct

mother_verbtype     wayq  yqtl   qtl  wqtl  ptcp
verb_form domain2
wayq      N        10798     6   701    33    87
yqtl      Q          167  4820  1106   846   339
wqtl      Q           28  1333   341  2682   250
qtl       Q          273   581  2378   200   161
wayq      Q         1041    98   658    22    52
qtl       N         1164     1   483    15    40
ptcp      Q           36   175   251    44   362
          N          296     0    56     3   133
wqtl      N           74     0    38   130     6
yqtl      N            3     0     0     0     0

In [45]:
av_mother.pr

mother_verbtype        wayq      yqtl       qtl      wqtl      ptcp
verb_form domain2
wayq      N        0.928860  0.000516  0.060301  0.002839  0.007484
yqtl      Q        0.022946  0.662270  0.151965  0.116241  0.046579
wqtl      Q        0.006042  0.287656  0.073587  0.578766  0.053949
qtl       Q        0.075981  0.161703  0.661842  0.055664  0.044809
wayq      Q        0.556387  0.052378  0.351684  0.011758  0.027793
qtl       N        0.683500  0.000587  0.283617  0.008808  0.023488
ptcp      Q        0.041475  0.201613  0.289171  0.050691  0.417051
          N        0.606557  0.000000  0.114754  0.006148  0.272541
wqtl      N        0.298387  0.000000  0.153226  0.524194  0.024194
yqtl      N        1.000000  0.000000  0.000000  0.000000  0.000000

In [49]:
av_mother.oneN

mother_verbtype          wayq         yqtl        qtl        wqtl        ptcp
verb_form domain2
wayq      N          1.076588  1937.500000  16.583452  352.272727  133.620690
yqtl      Q         43.580838     1.509959   6.580470    8.602837   21.469027
wqtl      Q        165.500000     3.476369  13.589443    1.727815   18.536000
qtl       Q         13.161172     6.184165   1.510934   17.965000   22.316770
wayq      Q          1.797310    19.091837   2.843465   85.045455   35.980769
qtl       N          1.463058  1703.000000   3.525880  113.533333   42.575000
ptcp      Q         24.111111     4.960000   3.458167   19.727273    2.397790
          N          1.648649          inf   8.714286  162.666667    3.669173
wqtl      N          3.351351          inf   6.526316    1.907692   41.333333
yqtl      N          1.000000          inf        inf         inf         inf

In [46]:
show_text(
    mother_df[
        (mother_df.verb_form == 'qtl')
        & (mother_df.mother_verbtype == 'wayq')
    ]
, spread=10, col_default=['ref', 'text_full', 'sentence', 'mother_clause'])

showing 10 of 1437

## Daughter Clause Types

NB: when the following restrictions apply:

1. mother clause is headed by indicative verb
2. daughter clause is in same domain
2. daughter clause is a main clause, not subordinate or adverbial
3. clause domain is Q or N, not D or ?

In [47]:
daught_df = av_df[
    (av_df.daught_verbtype.isin(mo_vtypes)) # restrict to indicative verbs
    & ((av_df.mother_domain2) == (av_df.domain2)) # agreement in domain
    & (av_df.daught_rela == 'Main') # retrict to main clauses
    & (av_df.domain2.isin(['Q', 'N']))
]
av_daught = PivotProp(daught_df, ['verb_form', 'domain2'], 'daught_verbtype')

av_daught.ct

daught_verbtype    wayq  yqtl   qtl  wqtl  ptcp
verb_form domain2
wayq      N        4301   445   919    30   273
yqtl      Q          52  2813   255   691    77
qtl       Q         362   582  1208   188   121
wqtl      Q           9   578   156  1679    27
wayq      Q         552   130   174    15    29
qtl       N         374    34   271    22    40
ptcp      Q          29   170    63    96   237
          N          57     7    30     5   110
wqtl      N          10     9     9    91     2
yqtl      N           2     1     0     0     0

In [48]:
av_daught.pr

daught_verbtype        wayq      yqtl       qtl      wqtl      ptcp
verb_form domain2
wayq      N        0.720677  0.074564  0.153988  0.005027  0.045744
yqtl      Q        0.013374  0.723508  0.065586  0.177726  0.019805
qtl       Q        0.147095  0.236489  0.490857  0.076392  0.049167
wqtl      Q        0.003675  0.236015  0.063699  0.685586  0.011025
wayq      Q        0.613333  0.144444  0.193333  0.016667  0.032222
qtl       N        0.504723  0.045884  0.365722  0.029690  0.053981
ptcp      Q        0.048739  0.285714  0.105882  0.161345  0.398319
          N        0.272727  0.033493  0.143541  0.023923  0.526316
wqtl      N        0.082645  0.074380  0.074380  0.752066  0.016529
yqtl      N        0.666667  0.333333  0.000000  0.000000  0.000000

In [46]:
show_text(
    av_df[
        (av_df.verb_form == 'qtl')
        & (av_df.daught_rela == 'Main')
        & (av_df.daught_type == 'ptcp')
    ]
, spread=10, col_default=['ref', 'text_full', 'sentence', 'daught_clause'])

## Preverbal Lexical collocations compared against other verb forms

NB that all lexical data is provided in ETCBC transcription:
https://annotation.github.io/text-fabric/writing/hebrew.html#gsc.tab=0

In [8]:
av_col_df.head()

                B      W       H      KJ      L     >CR    HNH  ...  >JKKH  BWZ[  <WT[  CLC[  HJK  RC<[  CXV=[
verb_form                                                       ...
qtl         744.0   3744  1326.0  1838.0  371.0  2974.0  182.0  ...    0.0   0.0   0.0   0.0  0.0   0.0    0.0
ptcp         96.0   1328  1511.0   246.0   85.0   358.0  367.0  ...    0.0   0.0   0.0   0.0  0.0   0.0    0.0
yqtl       1144.0   6134  1540.0  1122.0  557.0   970.0   50.0  ...    4.0   1.0   1.0   1.0  2.0   1.0    1.0
wayq          0.0  14974     0.0     0.0    0.0     0.0    0.0  ...    0.0   0.0   0.0   0.0  0.0   0.0    0.0
wqtl          0.0   6476     0.0     0.0    0.0     0.0    0.0  ...    0.0   0.0   0.0   0.0  0.0   0.0    0.0

[5 rows x 463 columns]

In [13]:
# apply Fisher's statistical significance test
# with logtransformation and addition of negative 
# sign if observed frequency goes below expected
# Fisher's is good for this analysis since it is
# bidirectional
# a value > 1.3 or < -1.3 is statistically significant

av_col_fs, _odds_ = my_stats.apply_fishers(av_col_df, 0, 1)
av_col_fs

,B,W,H,KJ,L,>CR,HNH,L>,MN,>P,...,<BD[,LHN,CLL=[,>JKKH,BWZ[,<WT[,CLC[,HJK,RC<[,CXV=[
qtl,0.119679,-207.63233,-22.119934,123.831899,-0.128867,inf,-3.244245,2.713350,-0.025036,-0.039686,...,0.00000,-0.273274,0.00000,-0.517176,0.00000,0.00000,0.00000,-0.273274,0.00000,0.00000
ptcp,-9.317000,-inf,inf,-0.901922,0.000000,-0.063157,235.635748,-91.662939,-2.400715,-0.152597,...,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000
yqtl,126.833429,-inf,5.915347,3.994289,51.978724,-43.362100,-42.665438,inf,53.891590,6.026432,...,0.49692,0.993853,0.49692,1.987762,0.49692,0.49692,0.49692,0.993853,0.49692,0.49692
wayq,-224.313388,inf,-inf,-inf,-113.454794,-inf,-66.611721,-inf,-98.348376,-9.584207,...,0.00000,0.000000,0.00000,-0.235944,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000

In [14]:
av_col_fs.loc['qtl'].sort_values(ascending=False).head(20)

>CR            inf
KH      127.358091
KJ      123.831899
K        42.228324
>T       36.933887
GM       18.710919
MDW<      9.881720
KN        4.020911
>LH       3.886858
L>        2.713350
>KN       2.482377
C         2.458896
ZW        2.182318
LWL>      2.133870
JCB[      2.025151
Z>T       1.880614
MRH[      1.720063
HN        1.676743
HJ>       1.627427
>ZJ       1.290031
Name: qtl, dtype: float64

In [6]:
av_col_fs.loc['yqtl'].sort_values(ascending=False).head(20)

>L=            inf
L>             inf
B       126.833429
>M      114.937922
LM<N     60.883023
PN       59.632713
MN       53.891590
L        51.978724
<L       29.147764
>L       27.860739
MWT[     27.161678
H=       22.534992
MJ       17.957431
<D       16.105898
>WLJ     14.883374
MH       13.776708
BL       12.976456
KN       10.810109
MTJ      10.442369
LMH       9.753989
Name: yqtl, dtype: float64

In [8]:
av_col_fs.loc['ptcp'].sort_values(ascending=False).head(20)

H               inf
HNH      235.635748
HJH[     117.793827
>NKJ      80.672615
>TM       52.405337
HM        45.297820
>NJ       34.075604
>TH       34.004658
HW>       28.805831
>NXNW     14.232464
HMH        8.496145
HJ>        5.874879
H=         3.885332
ZH         3.243329
>RB[       2.282421
CDP[       2.150594
>CR[       2.150594
>SP[       2.009405
NF>[       1.992513
HNH=       1.469383
Name: ptcp, dtype: float64

#### digging into examples

In [6]:
qatal_df.shape

(20728, 53)

In [44]:
test_df = qatal_df[qatal_df.pre_lexes.str.match('.*>CR', na=False)]

test_df

,ref,book,book_super,canon_part,text_full,text_plain,lex,lex_etcbc,gloss,verb_form,...,esv_TAMspan,niv,niv_tags,niv_VBtags,niv_tense,niv_aspect,niv_modality,niv_TAM,niv_TAMtag,niv_TAMspan
bhsa_node,,,,,,,,,,,,,,,,,,,,,
397,Genesis 1:21,Genesis,Genesis,Law,שָׁרְצ֨וּ,שׁרצו,שׁרץ,CRY[,swarm,qtl,...,NaN,teems,NNS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,Genesis 1:31,Genesis,Genesis,Law,עָשָׂ֔ה,עשׂה,עשׂה,<FH[,make,qtl,...,had made,he had made,PRP|VBD|VBN,VBD|VBN,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had made
694,Genesis 2:2,Genesis,Genesis,Law,עָשָׂ֑ה,עשׂה,עשׂה,<FH[,make,qtl,...,had done,he had been doing,PRP|VBD|VBN|VBG,VBD|VBN|VBG,past,PERF_PROG,IND,past.PERF_PROG.IND,PAST PERF PROG,had been doing
706,Genesis 2:2,Genesis,Genesis,Law,עָשָֽׂה,עשׂה,עשׂה,<FH[,make,qtl,...,had done,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,Genesis 2:3,Genesis,Genesis,Law,בָּרָ֥א,ברא,ברא,BR>[,create,qtl,...,had done,creating,VBG,VBG,PRES,NaN,NaN,PRES..,PRES PART,creating
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425843,2_Chronicles 35:18,2_Chronicles,Chronicles,Writings,עָשָׂ֣ה,עשׂה,עשׂה,<FH[,make,qtl,...,was,did,VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,did
425877,2_Chronicles 35:20,2_Chronicles,Chronicles,Writings,הֵכִ֤ין,הכין,כון,KWN[,be firm,qtl,...,had prepared,had set in order,VBD|VBN|IN|NN,VBD|VBN,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had set
426197,2_Chronicles 36:8,2_Chronicles,Chronicles,Writings,עָשָׂה֙,עשׂה,עשׂה,<FH[,make,qtl,...,did,he did,PRP|VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,did
426305,2_Chronicles 36:13,2_Chronicles,Chronicles,Writings,הִשְׁבִּיעֹ֖ו,השׁביעו,שׁבע,CB<[,swear,qtl,...,had made,had made take an oath,VBD|VBN|VB|DT|NN,VBD|VBN|VB,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had made
426345,2_Chronicles 36:14,2_Chronicles,Chronicles,Writings,הִקְדִּ֖ישׁ,הקדישׁ,קדשׁ,QDC[,be holy,qtl,...,had made,he had consecrated,PRP|VBD|VBN,VBD|VBN,PAST,PERF,IND,PAST.PERF.IND,PAST PERF,had consecrated

In [47]:
show_text(test_df, spread=10, cols=['niv', 'lxx'])