# §106 "Use of the Perfect"

In [1]:
from my_tools import *

In [3]:
qatal_df.head()

,ref,book,book_super,canon_part,text_full,text_plain,lex,lex_etcbc,gloss,verb_form,...,esv_TAMspan,niv,niv_tags,niv_VBtags,niv_tense,niv_aspect,niv_modality,niv_TAM,niv_TAMtag,niv_TAMspan
bhsa_node,,,,,,,,,,,,,,,,,,,,,
3,Genesis 1:1,Genesis,Genesis,Law,בָּרָ֣א,ברא,ברא,BR>[,create,qtl,...,created,created,VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,created
15,Genesis 1:2,Genesis,Genesis,Law,הָיְתָ֥ה,היתה,היה,HJH[,be,qtl,...,was,was,VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,was
47,Genesis 1:4,Genesis,Genesis,Law,טֹ֑וב,טוב,טוב,VWB[,be good,qtl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Genesis 1:5,Genesis,Genesis,Law,קָ֣רָא,קרא,קרא,QR>[,call,qtl,...,called,he called,PRP|VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,called
172,Genesis 1:10,Genesis,Genesis,Law,קָרָ֣א,קרא,קרא,QR>[,call,qtl,...,called,he called,PRP|VBD,VBD,PAST,NaN,IND,PAST..IND,PAST,called

## Quantity in context of all verbs

In [4]:
av_verb_ct = av_df.verb_form.value_counts()
av_verb_pr = av_verb_ct / av_verb_ct.sum()

In [5]:
av_verb_ct.sum()

56955

In [6]:
av_verb_ct

qtl     20728
yqtl    15854
wayq    14974
ptcp     5399
Name: verb_form, dtype: int64

In [7]:
av_verb_pr

qtl     0.363936
yqtl    0.278360
wayq    0.262909
ptcp    0.094794
Name: verb_form, dtype: float64

## Prefixed waw

In [8]:
qdf_waw_ct = qatal_df.adjacent_waw.value_counts() # qatal dataframe adjacent waw counts
qdf_waw_pr = prop_table(qdf_waw_ct) 

display(qdf_waw_ct)
print()
display(qdf_waw_pr)

False    14303
True      6425
Name: adjacent_waw, dtype: int64

False    0.690033
True     0.309967
Name: adjacent_waw, dtype: float64

## Prefixed waw based on various contexts

### genre

In [13]:
waw_genre = PivotProp(qatal_df, 'adjacent_waw', 'genre')
waw_genre_dp = my_stats.apply_deltaP(waw_genre.ct, 0, 1)

waw_genre.ct

genre         prose  prophetic  poetry  instruction  list
adjacent_waw
False          6615       3943    2832          528   385
True           2040       2343     264         1651   127

In [10]:
waw_genre.pr

genre           prose  prophetic    poetry  instruction      list
adjacent_waw
False         0.46249   0.275676  0.198000     0.036915  0.026917
True          0.31751   0.364669  0.041089     0.256965  0.019767

In [14]:
waw_genre_dp

genre            prose  prophetic    poetry  instruction      list
adjacent_waw
False         0.144981  -0.088993  0.156911     -0.22005  0.007151
True         -0.144981   0.088993 -0.156911      0.22005 -0.007151

In [22]:
av_df.genre.value_counts()

prose          27601
prophetic      13505
poetry          9604
instruction     5100
list            1145
Name: genre, dtype: int64

### domain type

See https://etcbc.github.io/bhsa/features/domain/

In [16]:
qatal_df.domain.value_counts()

Q    14540
N     4583
?     1052
D      553
Name: domain, dtype: int64

In [17]:
waw_domain = PivotProp(qatal_df, 'adjacent_waw', 'domain')

waw_domain.ct

domain           Q     N    ?    D
adjacent_waw
False         8937  4238  851  277
True          5603   345  201  276

In [28]:
waw_domain.pr

domain               Q         N         ?         D
adjacent_waw
False         0.624834  0.296301  0.059498  0.019367
True          0.872062  0.053696  0.031284  0.042957

In [77]:
(waw_domain.pr.loc[False].round(2) * 100)

domain
Q    62.0
N    30.0
?     6.0
D     2.0
dtype: float64

#### Qatal domains in context of all verbs

Both ve-qatal and Ø-qatal types appear to have a majority of direct quotation contexts; how does this stack up statistically against other verb types?

In [45]:
av_domain_ct = av_df.domain.value_counts()
av_domain_pr = prop_table(av_domain_ct)
av_domain_ct

Q    32006
N    21072
?     2038
D     1839
Name: domain, dtype: int64

In [46]:
av_domain_pr

Q    0.561952
N    0.369976
?    0.035783
D    0.032289
Name: domain, dtype: float64

In [68]:
av_domain = PivotProp(av_df, 'verb_form', 'domain')

sort_sums = av_domain.ct.sum(1).sort_values(ascending=False).index
av_domain.ct = av_domain.ct.loc[sort_sums]
av_domain.pr = av_domain.pr.loc[sort_sums]
av_domain_dp = my_stats.apply_deltaP(av_domain.ct, 0, 1)
av_domain_fs, _odds = my_stats.apply_fishers(av_domain.ct, 0, 1, logtransform=False, sign=False)

av_domain.ct

domain         Q      N     ?     D
verb_form
qtl        14540   4583  1052   553
yqtl       14100     59   565  1130
wayq           9  14961     3     1
ptcp        3357   1469   418   155

In [79]:
prop_table(av_domain.ct.T)

verb_form       qtl      yqtl      wayq      ptcp
domain
Q          0.454290  0.440542  0.000281  0.104887
N          0.217492  0.002800  0.709994  0.069713
?          0.516192  0.277233  0.001472  0.205103
D          0.300707  0.614464  0.000544  0.084285

In [69]:
av_domain.pr

domain            Q         N         ?         D
verb_form
qtl        0.701467  0.221102  0.050753  0.026679
yqtl       0.889365  0.003721  0.035638  0.071275
wayq       0.000601  0.999132  0.000200  0.000067
ptcp       0.621782  0.272087  0.077422  0.028709

In [70]:
av_domain_dp # ΔP significance test

domain            Q         N         ?         D
verb_form
qtl        0.219340 -0.234056  0.023535 -0.008819
yqtl       0.453707 -0.507531 -0.000201  0.054025
wayq      -0.761577  0.853566 -0.048274 -0.043715
ptcp       0.066095 -0.108140  0.046000 -0.003954

In [72]:
av_domain_fs # Fisher's significance test

                 Q             N              ?              D
qtl   0.000000e+00  0.000000e+00   4.247906e-46   6.771691e-09
yqtl  0.000000e+00  0.000000e+00   9.198338e-01  2.389450e-205
wayq  0.000000e+00  0.000000e+00  1.518749e-268  4.329544e-246
ptcp  8.628918e-21  2.206709e-57   4.932826e-53   1.240493e-01

## Tense interpretations based on prefixed waw

## Ø-Qatal

### Past Interpretations

In [11]:
nlq_df = qatal_df[qatal_df.adjacent_waw == False] # null qatal dataframe

nlq_df

In [ ]:
n

In [8]:
lxx_tm_ct = qatal_df.lxx_tm.value_counts()

lxx_tm_ct

aorist indc        9771
future indc        4977
perfect indc        959
present indc        901
imperfect indc      739
aorist subj         574
aorist ptcp         314
present ptcp        205
aorist impv         193
aorist infv         115
perfect ptcp         98
present subj         61
pluperfect indc      52
present impv         37
present infv         26
aorist optv          12
perfect infv          8
future ptcp           5
present optv          2
perfect impv          1
pluperfect ptcp       1
future subj           1
imperfect subj        1
Name: lxx_tm, dtype: int64

In [9]:
lxx_tm_pr = lxx_tm_ct / lxx_tm_ct.sum()

lxx_tm_pr

aorist indc        0.512833
future indc        0.261219
perfect indc       0.050333
present indc       0.047289
imperfect indc     0.038787
aorist subj        0.030126
aorist ptcp        0.016480
present ptcp       0.010759
aorist impv        0.010130
aorist infv        0.006036
perfect ptcp       0.005144
present subj       0.003202
pluperfect indc    0.002729
present impv       0.001942
present infv       0.001365
aorist optv        0.000630
perfect infv       0.000420
future ptcp        0.000262
present optv       0.000105
perfect impv       0.000052
pluperfect ptcp    0.000052
future subj        0.000052
imperfect subj     0.000052
Name: lxx_tm, dtype: float64

## Present Interpretations

## Future Interpretations